<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <form class="summernote-form" method="post" action="
    <% if(locals.postContent || locals.postTitle || locals.post_id) { %>
      /post/edit/<%= post_id %>
    <% } else { %>
      /post/add
    <% } %>
  ">
    <input class="new-post-title" type="text" name="title"
      placeholder="Заголовок..."
      required
      value=<% if(locals.postTitle) { %>
        <%= postTitle %>
      <% } %>>
    <textarea class="new-post-content"
        id="summernote" name="editordata"><% if(locals.postContent) { %><%- postContent %><% } %></textarea>
    <button class="create-post" type="submit">Сохранить</button>
  </form>

  <script src="/js/editPost.js"></script>
</body>
</html>