<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <div class="container">
      <% if(loggedIn && role && nickname) { %>
        <h1 class="page-title">Лента</h1>
      <% } else { %>
        <h1 class="page-title">Войдите, чтобы стать частью PolyView!</h1>
      <% } %>

      <div class="posts">
        <% for(let i = 0; i < posts.length; i++) { %>
          <div class="post">
              <div class="author-date">
                  <a href="/user/<%= posts[i].author %>" class="post-avatar">
                    <img src="<%= posts[i].avatar_path %>" alt="">
                  </a>
                  <div>
                      <a class="post-author" href="/user/<%= posts[i].author %>"><%= posts[i].author %></a>
                      <p class="post-time"><%= posts[i].last_update %></p>
                  </div>
              </div>
              <a class="post-title" href="/post/<%= posts[i].post_id %>"><%= posts[i].title %></a>
              <div class="likes-comments">
                  <p class="post-likes"><i class="fa fa-heart"></i> <%= posts[i].likes %></p>
                  <p class="post-comments"><i class="fa fa-comment"></i> <%= posts[i].comments %></p>
              </div>
          </div>
        <% } %>
      </div>
  </div>

  <script>
    $(document).ready(() => {
      $('.test').on('click', (e) => {
        e.stopPropagation();
        $.ajax({
          type: 'POST',
          url: '/comment/like/1',
          success: () => alert('done!'),
          error: () => alert('error :(')
        });
      })
    });
  </script>
</body>
</html>