<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <div class="container">
    <img id="logo" src="/img/POLYVIEW.png" alt="">

    <h1 class="login-title">Вход</h1>

    <div class="errors">
      <% for(let i = 0; i < errors.length; i++) { %>
        <h2 class="error"><%= errors[i] %></h2>
      <% } %>
    </div>

    <form class="login-form" action="/auth/login" method="post">
        <label for="login">Email:</label>
        <input type="text" name="email" id="email" required value=<%= email %>>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="pass1" required value=<%= password %>> 

        <button type="submit">Войти</button>
    </form>
  </div>
</body>
</html>