<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body class="single-post">
  <%- include('layouts/navbar'); -%>
  
    <div class="post single">
      <div class="author-date">
          <a href="/user/<%= author %>" class="post-avatar">
            <img src="<%= avatar_path %>" alt="">
          </a>
          <div>
              <a class="post-author" href="/user/<%= author %>"><%= author %></a>
              <p class="post-time"><%= last_update %></p>
          </div>
      </div>
      <% if(loggedIn && (nickname == author || role == 'owner'
       || role == 'admin' || role == 'moderator')) { %>
        <div class="actions">
          <form action="/post/edit/<%= post_id %>" class="action" method="GET">
            <input id="change-post" type="submit" value="Изменить">
          </form> 
          <form action="/post/delete/<%= post_id %>" class="action" method="GET">
            <input id="delete-post" type="submit" value="Удалить">
          </form>
        </div>
      <% } %>
      <div class="post-title">
        <p class="post-title"><%= title %></p>
      </div>
      <div class="post-content">
        <%- content %>
      </div>
      <div class="likes-comments">
        <button data-id="<%= post_id %>"class="post-likes <% if(liked) { %> <%= 'liked' %> <% } %>"><i class="fa fa-heart"></i> <span class="like-count"><%= likes %></span></button>
        <p class="post-comments"><i class="fa fa-comment"></i> <%= commentCount %></p>
      </div>
    </div>

    <div class="comments">
      <% if(comments.length > 0) { %>
        <p class="comments-info">Найдено <%= comments.length %> комментари<% if(comments.length % 10 === 1) { %><%= 'й' %><% } else if (comments.length % 10 >= 2 && comments.length % 10 <= 4) { %><%= 'я' %><% } else { %><%= 'ев' %><% } %></p>
        <% for(let i = 0; i < comments.length; i++) { %>
          <div class="comment">
            <div class="author-date">
              <a href="/user/<%= comments[i].author %>" class="comment-avatar">
                <img src="<%= comments[i].avatar_path %>" alt="">
              </a>
              <div>
                  <a class="comment-author" href="/user/<%= comments[i].author %>"><%= comments[i].author %></a>
                  <p class="comment-time"><%= comments[i].last_update %></p>
              </div>
            </div>
            <p class="comment-content"><%= comments[i].content %></p>
            <div class="likes-comments">
                <button data-id="<%= comments[i].comment_id %>" class="comment-likes <% if(comments[i].isLiked) { %> <%= 'liked' %> <% } %>"><i class="fa fa-heart"></i> <span class="like-count"><%= comments[i].likes %></span></button>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <p class="comments-info">Никто еще не комментировал эту запись</p>
      <% } %>
    </div>

    <% if(loggedIn) { %>
    <form class="comment-form" action="/comment/<%= post_id %>" method="post">
      <p class="comments-info">Добавить комментарий</p>
      <textarea required maxlength="2000" name="comment" placeholder="Оставить комментарий.."></textarea>
      <div>
        <button type="submit">Отправить</button>
      </div>
    </form>
    <% } else { %>
      <p class="comments-info">Войдите, чтобы оставить комментарий</p>
    <% } %>

    <% if(loggedIn) { %>
      <script src="/js/post.js"></script>
    <% } %>
</body>
</html>