<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <div class="container">
    <h2><%= title %> by <a href="/user/<%= author %>"><%= author %></a> at <%= last_update %></h2>
    <% if(author == nickname) { %>
      <button>edit</button>
      <button>delete</button>
    <% } %>
    <%= content %>
  </div>

  <%- include('layouts/footer'); -%>
</body>
</html>