<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <div class="container">
    <img id="logo" src="/img/POLYVIEW.png" alt="">

    <h1 class="login-title">Регистрация</h1>

    <div class="errors">
      <% for(let i = 0; i < errors.length; i++) { %>
        <h2 class="error"><%= errors[i] %></h2>
      <% } %>
    </div>

    <form class="register-form" action="/auth/register" method="post">
        <label for="nickname">Username:<span class="required-field">*</span></label>
        <input type="text" name="nickname" id="username" required value=<%= nickname %>>
        <label for="email">Email:<span class="required-field">*</span></label>
        <input type="email" name="email" id="email" required value=<%= email %>> 
        <label for="password">Пароль:<span class="required-field">*</span></label>
        <input type="password" name="password" id="pass1" required value=<%= password %>> 
        <label>Повторите пароль:<span class="required-field">*</span></label>
        <input type="password" id="pass2" required value=<%= password %>>

        <p class="required-field">* - обязательное поле</p>

        <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
</body>
</html>