<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
    <main class="container">
      <div class="user-info">
        <div class="main-info">
            <img class="user-avatar" src="<%= avatar_path %>" alt="<%= user %>">
        </div>
        <div class="other-info">
            <h1 class="user-nickname"><%= user %></h1>
            <p class="reg-time">Дата регистрации: <%= regTime %></p>
            <p class="post-count">Количество сделанных постов: <%= postCount %></p>
            <p class="liked-count">Количество понравившихся постов: <%= likedCount %></p>
            <p class="comment-count">Количество оставленных комментариев: <%= commentCount %></p>
            <% if(nickname == user) { %>
                <form class="change-avatar" action="/user/avatar" method="post" encType="multipart/form-data">
                    <label for="avatar">Изменить аватар:</label>
                    <input type="file" accept=".jpg, .jpeg, .png" name="avatar" id="avatar-upload">
                    <% if(locals.fileError) { %>
                        <span class="error"><%= fileError %>></span>
                    <% } %>
                    <button type="submit">Изменить</button>
                </form>
            <% } %>
        </div>
      </div>
        
        <div class="user-posts">
            <% if(posts.length > 0) { %>
                <% if(nickname == user) { %>
                    <p class="user-info">Ваши посты:</p>
                <% } else { %>
                    <p class="user-info">Посты пользователя <%= user %>:</p>
                <% } %>

                <div class="posts">
                    <% for(let i = 0; i < posts.length; i++) { %>
                        <div data-id="<%= posts[i].post_id %>" class="post">
                            <div class="author-date">
                                <a href="/user/<%= posts[i].author %>" class="post-avatar">
                                    <img src="<%= posts[i].avatar_path %>" alt="">
                                </a>
                                <div>
                                    <a class="post-author" href="/user/<%= posts[i].author %>"><%= posts[i].author %></a>
                                    <p class="post-time"><%= posts[i].last_update %></p>
                                </div>
                            </div>
                            <a class="post-title" href="/post/<%= posts[i].post_id %>"><%= posts[i].title %></a>
                            <div class="likes-comments">
                                <button class="post-likes"><i class="fa fa-heart"></i> <span class="like-count"><%= posts[i].likes %></span></button>
                                <p class="post-comments"><i class="fa fa-comment"></i> <%= posts[i].comments %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <% if(nickname == user) { %>
                    <p class="user-info">Вы еще не сделали никакой записи</p>
                <% } else { %>
                    <p class="user-info">Пользователь <%= user %> еще не сделал никакой записи</p>
                <% } %>
            <% } %>

            <div class="liked-posts">
            <% if(liked.length > 0) { %>
                <% if(nickname == user) { %>
                    <p class="user-info">Посты, которые вам понравились:</p>
                <% } else { %>
                    <p class="user-info">Посты, которые понравились <%= user %>:</p>
                <% } %>
                <% for(let i = 0; i < liked.length; i++) { %>
                    <div class="posts">
                        <div data-id="<%= liked[i].post_id %>" class="post">
                            <div class="author-date">
                                <a href="/user/<%= liked[i].author %>" class="post-avatar">
                                    <img src="<%= liked[i].avatar_path %>" alt="">
                                </a>
                                <div>
                                    <a class="post-author" href="/user/<%= liked[i].author %>"><%= liked[i].author %></a>
                                    <p class="post-time"><%= liked[i].last_update %></p>
                                </div>
                            </div>
                            <a class="post-title" href="/post/<%= liked[i].post_id %>"><%= liked[i].title %></a>
                            <div class="likes-comments">
                                <button data-id="<%= liked[i].post_id %>" class="post-likes"><i class="fa fa-heart"></i> <span class="like-count"><%= liked[i].likes %></span></button>
                                <p class="post-comments"><i class="fa fa-comment"></i> <%= liked[i].comments %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <% if(nickname == user) { %>
                    <p class="user-info">Вы еще не оценили никаких постов</p>
                <% } else { %>
                    <p class="user-info">Пользователь <%= user %> еще не оценил никаких постов</p>
                <% } %>
            <% } %>
            </div>
        </div>
    </main>
    <% if(loggedIn) { %>
        <script src="/js/post.js"></script>
    <% } %>
</body>
</html>